
.main-form{

  &__logo{
    width: 50px;
    animation: floating 1s infinite;
  }

  &__title{
    font-family: 'Germania One', cursive;
    font-size: 30px;
    margin-left: 20px;
    color: #2e2e2e;
    
    span{
      font-family: inherit;
      color: #56D353;
    }
  }

  hr{
    border: 0.5px solid #d1d1d1;
  }

  &__input, &__button{
    width: 100%;
    display: block;
  }

  &__input{
    background-color: #efefef;
    padding: 10px;
    border: none;
    border-radius: 2px;
    margin: 10px 0;
    outline: none;
  }

  &__button{
    border: none;
    color: #ffffff;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #F4516D;
    transition: all 0.2s ease-in-out;
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0;
    outline: none;
    
    &:hover{
      cursor: pointer;
      background-color: #df425c;
    }
  }

  &__load{
    max-width: 40px;
    margin: auto;
    visibility: hidden;
    opacity: 0;
    height: 0;
    display: block;
    transition: all 0.5s ease-in-out;

    &.active{
      opacity: 1;
      visibility: visible;
      height: auto;
    }
  }

  &__response{
    text-align: center;
  }
}