html(lang="pt-br")
  head
    //- meta tags
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    //- link css
    link(rel="stylesheet", href="./assets/css/app.css")
    link(rel="shortcut icon", href="./assets/images/dragon.png", type="image/x-icon")
    //- link fontawesome
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(href="https://fonts.googleapis.com/css?family=Lato", rel="stylesheet")
    title=htmlWebpackPlugin.options.title
  body
    main
      .main-content
        form.main-form.js-main-form(action="#")
          header
            img.main-form__logo(src="./assets/images/dragon.png", alt="Dragon Crypt", title="Dragon Crypt")
            h1.main-form__title
              | Dragon
              span Crypt
          label Phrase:
          textarea(name="phrase", cols="30", rows="3").main-form__input.js-phrase
          label Index:
          input(type="number", name="index").main-form__input.js-index
          label Suffix:
          input(type="text", name="suffix").main-form__input.js-suffix
          input.main-form__button(type="submit", value="Encriptar")
        p.main-form__response.js-response-password
        img.main-form__load.js-load(src="./assets/images/load.gif", alt="Carregando...", title="Carregando...")
        hr
        a.main-content__link(href="/list.html" title="Cadastrar nova senha") Ver minhas senhas
        